<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    
    
    <context:annotation-config/>
	
	 <bean id="guitar" class="by.spring.project.perfomance.Guitar"/>
	
	<bean id="cymbal" class="by.spring.project.perfomance.Cymbal"/>
	
	<bean id="audience" class="by.spring.project.perfomance.Audience"/>
	
	<bean id="audience1" class="by.spring.project.perfomance.AudienceAnnotation"/>
	
	<bean id="magician" class="by.spring.project.perfomance.Magican"/>
	
	<bean id="magician2" class="by.spring.project.perfomance.Magican2"/>
	
	<bean id="volunteer" class="by.spring.project.perfomance.Volunteer"/>

	 <bean id='Kenny' class="by.spring.project.perfomance.Instrumentalist">
	 	<!-- <property name="instrument" ref="guitar"/>-->
	 </bean>
	 
	<aop:config>
	 	<aop:aspect ref="audience">
	 		<aop:before pointcut="execution(* by.spring.project.perfomance.Perfomer.perfome(..))" method="takeSeats"/>
	 		
	 		<aop:before pointcut="execution(* by.spring.project.perfomance.Perfomer.perfome(..))" method="turnOffCellPhones"/>
	 		
	 		<aop:after-returning pointcut="execution(* by.spring.project.perfomance.Perfomer.perfome(..))" method="applaud"/>
	 		
	 		<aop:after-throwing pointcut="execution(* by.spring.project.perfomance.Perfomer.perfome(..))" method="moneyBack"/>
	 		
	 		<aop:around pointcut="execution(* by.spring.project.perfomance.Perfomer.perfome(..))" method="watchPerfomance"/>
	 		
	 	</aop:aspect>
	 </aop:config>
	 
	 <aop:config>
	 	<aop:aspect ref='magician'>
	 		<aop:pointcut expression="execution (* by.spring.project.perfomance.Thinker.thinkOfSomething(String)) and args(thoughts)" id="thinking"/>
	 		
	 		<aop:before pointcut-ref="thinking" method="interceptThoughts" arg-names="thoughts"/>
	 	</aop:aspect>
	 </aop:config>
	 
	 <aop:aspectj-autoproxy/>
	
</beans>